<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>Generic - Projection by TEMPLATED</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<nav id="nav">
						<a href="/index">Home</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2>Cadastro de aluno</h2>
						<p>Preencha as informações para cadastrar um aluno </p>
					</header>
							
							<form method="POST" th:object="${instituicao}" th:action="@{/cadastrarInstituicao}">
										<div class="row uniform">
											<div class="6u 12u$(xsmall)">
												<input type="text" name="nome" id="nome" th:field="*{nome}" placeholder="Nome" />
											</div>
											<div class="6u$ 12u$(xsmall)">
												<input type="text" name="cnpj" id="cnpj" value=""  th:field="*{cnpj}" placeholder="CNPJ" />
											</div>
											<div class="12u$">
												<ul class="actions">
													<li><input type="submit" value="Cadastrar" /></li>
												</ul>
											</div>
										</div>
									</form>					
			
				</div>
			</section>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/skel.min.js"></script>
			<script src="/js/util.js"></script>
			<script src="/js/main.js"></script>

	</body>
</html>